[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accessible-output2 = "*"
pysdl2 = "*"
pysdl2-dll = "*"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
flake8-builtins = "*"
pytest = "*"
pre-commit = "*"
mypy = "*"
flake8-docstrings = "*"
flake8-variables-names = "*"
black = "*"
isort = "*"
flake8-isort = "*"

[requires]
python_version = "3.10"
